.cart i {
    font-size: 3rem;
    color: white;
}

.cart {
    margin: 0 1rem;
}

@media (min-width: 1200px) {
    #product {
        max-width: 70%;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .product-description {
        margin: 2rem 0;
    }
    .cart {
        margin: 0 !important;
    }
}